.site-logo
  content: ''
  display: block
  width: 290px
  height: 59px
  margin: 0 auto
  background-image: url("assets/images/logo-yellow.png")
  -o-background-size: 290px 59px
  -webkit-background-size: 290px 59px
  background-size: 290px 59px
  background-position: 0 0
  font-size: 0
  cursor: pointer

.header-nav
  display: flex
  justify-content: space-around
  width: 100%
  @extend .background-wrapper
  li
    //flex-grow: 1
    font-size: 18px
    padding: 10px
    cursor: pointer
    text-align: center
    border-bottom: 2px solid transparent
    &.active
      border-bottom: 2px solid #fbc517
