<div class="empty-space col-xs-b40"></div>
<a ng-click="$ctrl.goToPartyList()"
   class="site-logo"></a>
<div class="empty-space col-xs-b20"></div>

<ul class="header-nav"
  ng-if="$ctrl.partyState()">

  <li ng-class="{active: $ctrl.$state.current.name === 'partiesList.party.people'}"
      ng-click="$ctrl.goToPartyState('people')">
    Колєги
  </li>
  <li ng-class="{active: $ctrl.$state.current.name === 'partiesList.party.expenses'}"
      ng-click="$ctrl.goToPartyState('expenses')">
    Витрати
  </li>
  <li ng-class="{active: $ctrl.$state.current.name === 'partiesList.party.summary'}"
      ng-click="$ctrl.goToPartyState('summary')">
    Підсумок
  </li>

</ul>

