@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss'

// Assets
@import "assets/styles/mixins"
@import "assets/styles/reset"
@import "assets/styles/variables"
@import "assets/styles/empty-spaces"

// Common
@import "common/common"

// Components
@import "components/components"

html
  min-height: 100%
  height: 100%

body
  font-family: $cuprum
  background-color: $dark-blue
  color: #fff
  height: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background-image: linear-gradient(to bottom, $dark-blue 0%, $dark-blue 100%)



.app-spinner
  display: flex
  height: 100vh
  align-items: center
  justify-content: center
  i
    font-size: 60px
    color: $yellow

app, ui-view, parties-list
  display: block

.c-bnt-fixed
  max-width: 600px
  position: fixed
  left: 0
  right: 0
  bottom: 0
  margin: auto
