/* Empty spaces */
.empty-space.col-xs-b0
  height: 0px
  margin-bottom: 0
.empty-space.col-xs-b5
  height: 5px
  margin-bottom: 0
.empty-space.col-xs-b10
  height: 10px
  margin-bottom: 0
.empty-space.col-xs-b15
  height: 15px
  margin-bottom: 0
.empty-space.col-xs-b20
  height: 20px
  margin-bottom: 0
.empty-space.col-xs-b25
  height: 25px
  margin-bottom: 0
.empty-space.col-xs-b30
  height: 30px
  margin-bottom: 0
.empty-space.col-xs-b35
  height: 35px
  margin-bottom: 0
.empty-space.col-xs-b40
  height: 40px
  margin-bottom: 0
.empty-space.col-xs-b45
  height: 45px
  margin-bottom: 0
.empty-space.col-xs-b50
  height: 50px
  margin-bottom: 0
.empty-space.col-xs-b55
  height: 55px
  margin-bottom: 0
.empty-space.col-xs-b60
  height: 60px
  margin-bottom: 0
.empty-space.col-xs-b65
  height: 65px
  margin-bottom: 0
.empty-space.col-xs-b70
  height: 70px
  margin-bottom: 0
.empty-space.col-xs-b75
  height: 75px
  margin-bottom: 0
.empty-space.col-xs-b80
  height: 80px
  margin-bottom: 0
.empty-space.col-xs-b85
  height: 85px
  margin-bottom: 0
.empty-space.col-xs-b90
  height: 90px
  margin-bottom: 0
.empty-space.col-xs-b95
  height: 95px
  margin-bottom: 0
.empty-space.col-xs-b100
  height: 100px
  margin-bottom: 0
.empty-space.col-xs-b105
  height: 105px
  margin-bottom: 0
.empty-space.col-xs-b110
  height: 110px
  margin-bottom: 0
.empty-space.col-xs-b115
  height: 115px
  margin-bottom: 0
.empty-space.col-xs-b120
  height: 120px
  margin-bottom: 0
.empty-space.col-xs-b130
  height: 130px
  margin-bottom: 0
.empty-space.col-xs-b140
  height: 140px
  margin-bottom: 0
.empty-space.col-xs-b160
  height: 160px
  margin-bottom: 0
.empty-space.col-xs-b200
  height: 200px
  margin-bottom: 0
.empty-space.col-xs-b220
  height: 220px
  margin-bottom: 0

@media (min-width: 768px)
  .empty-space.col-sm-b0
    height: 0px
    margin-bottom: 0
  .empty-space.col-sm-b5
    height: 5px
    margin-bottom: 0
  .empty-space.col-sm-b10
    height: 10px
    margin-bottom: 0
  .empty-space.col-sm-b15
    height: 15px
    margin-bottom: 0
  .empty-space.col-sm-b20
    height: 20px
    margin-bottom: 0
  .empty-space.col-sm-b25
    height: 25px
    margin-bottom: 0
  .empty-space.col-sm-b30
    height: 30px
    margin-bottom: 0
  .empty-space.col-sm-b35
    height: 35px
    margin-bottom: 0
  .empty-space.col-sm-b40
    height: 40px
    margin-bottom: 0
  .empty-space.col-sm-b45
    height: 45px
    margin-bottom: 0
  .empty-space.col-sm-b50
    height: 50px
    margin-bottom: 0
  .empty-space.col-sm-b55
    height: 55px
    margin-bottom: 0
  .empty-space.col-sm-b60
    height: 60px
    margin-bottom: 0
  .empty-space.col-sm-b65
    height: 65px
    margin-bottom: 0
  .empty-space.col-sm-b70
    height: 70px
    margin-bottom: 0
  .empty-space.col-sm-b75
    height: 75px
    margin-bottom: 0
  .empty-space.col-sm-b80
    height: 80px
    margin-bottom: 0
  .empty-space.col-sm-b85
    height: 85px
    margin-bottom: 0
  .empty-space.col-sm-b90
    height: 90px
    margin-bottom: 0
  .empty-space.col-sm-b95
    height: 95px
    margin-bottom: 0
  .empty-space.col-sm-b100
    height: 100px
    margin-bottom: 0
  .empty-space.col-sm-b105
    height: 105px
    margin-bottom: 0
  .empty-space.col-sm-b110
    height: 110px
    margin-bottom: 0
  .empty-space.col-sm-b115
    height: 115px
    margin-bottom: 0
  .empty-space.col-sm-b120
    height: 120px
    margin-bottom: 0
  .empty-space.col-sm-b220
    height: 220px
    margin-bottom: 0
  .empty-space.col-sm-b240
    height: 240px
    margin-bottom: 0
@media (min-width: 992px)
  .empty-space.col-md-b0
    height: 0px
    margin-bottom: 0
  .empty-space.col-md-b5
    height: 5px
    margin-bottom: 0
  .empty-space.col-md-b10
    height: 10px
    margin-bottom: 0
  .empty-space.col-md-b15
    height: 15px
    margin-bottom: 0
  .empty-space.col-md-b20
    height: 20px
    margin-bottom: 0
  .empty-space.col-md-b25
    height: 25px
    margin-bottom: 0
  .empty-space.col-md-b30
    height: 30px
    margin-bottom: 0
  .empty-space.col-md-b35
    height: 35px
    margin-bottom: 0
  .empty-space.col-md-b40
    height: 40px
    margin-bottom: 0
  .empty-space.col-md-b45
    height: 45px
    margin-bottom: 0
  .empty-space.col-md-b50
    height: 50px
    margin-bottom: 0
  .empty-space.col-md-b55
    height: 55px
    margin-bottom: 0
  .empty-space.col-md-b60
    height: 60px
    margin-bottom: 0
  .empty-space.col-md-b65
    height: 65px
    margin-bottom: 0
  .empty-space.col-md-b70
    height: 70px
    margin-bottom: 0
  .empty-space.col-md-b75
    height: 75px
    margin-bottom: 0
  .empty-space.col-md-b80
    height: 80px
    margin-bottom: 0
  .empty-space.col-md-b85
    height: 85px
    margin-bottom: 0
  .empty-space.col-md-b90
    height: 90px
    margin-bottom: 0
  .empty-space.col-md-b95
    height: 95px
    margin-bottom: 0
  .empty-space.col-md-b100
    height: 100px
    margin-bottom: 0
  .empty-space.col-md-b105
    height: 105px
    margin-bottom: 0
  .empty-space.col-md-b110
    height: 110px
    margin-bottom: 0
  .empty-space.col-md-b115
    height: 115px
    margin-bottom: 0
  .empty-space.col-md-b120
    height: 120px
    margin-bottom: 0
  .empty-space.col-md-b160
    height: 160px
    margin-bottom: 0
  .empty-space.col-md-b240
    height: 240px
    margin-bottom: 0
  .empty-space.col-md-b260
    height: 260px
    margin-bottom: 0
@media (min-width: 1200px)
  .empty-space.col-lg-b0
    height: 0px
    margin-bottom: 0
  .empty-space.col-lg-b5
    height: 5px
    margin-bottom: 0
  .empty-space.col-lg-b10
    height: 10px
    margin-bottom: 0
  .empty-space.col-lg-b15
    height: 15px
    margin-bottom: 0
  .empty-space.col-lg-b20
    height: 20px
    margin-bottom: 0
  .empty-space.col-lg-b25
    height: 25px
    margin-bottom: 0
  .empty-space.col-lg-b30
    height: 30px
    margin-bottom: 0
  .empty-space.col-lg-b35
    height: 35px
    margin-bottom: 0
  .empty-space.col-lg-b40
    height: 40px
    margin-bottom: 0
  .empty-space.col-lg-b45
    height: 45px
    margin-bottom: 0
  .empty-space.col-lg-b50
    height: 50px
    margin-bottom: 0
  .empty-space.col-lg-b55
    height: 55px
    margin-bottom: 0
  .empty-space.col-lg-b60
    height: 60px
    margin-bottom: 0
  .empty-space.col-lg-b65
    height: 65px
    margin-bottom: 0
  .empty-space.col-lg-b70
    height: 70px
    margin-bottom: 0
  .empty-space.col-lg-b75
    height: 75px
    margin-bottom: 0
  .empty-space.col-lg-b80
    height: 80px
    margin-bottom: 0
  .empty-space.col-lg-b85
    height: 85px
    margin-bottom: 0
  .empty-space.col-lg-b90
    height: 90px
    margin-bottom: 0
  .empty-space.col-lg-b95
    height: 95px
    margin-bottom: 0
  .empty-space.col-lg-b100
    height: 100px
    margin-bottom: 0
  .empty-space.col-lg-b105
    height: 105px
    margin-bottom: 0
  .empty-space.col-lg-b110
    height: 110px
    margin-bottom: 0
  .empty-space.col-lg-b115
    height: 115px
    margin-bottom: 0
  .empty-space.col-lg-b120
    height: 120px
    margin-bottom: 0
  .empty-space.col-lg-b270
    height: 270px
    margin-bottom: 0
  .empty-space.col-lg-b290
    height: 290px
    margin-bottom: 0