@font-face {
  font-family: 'Cuprum';
  src: url('../assets/fonts/Cuprum-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../assets/fonts/Cuprum-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}