// Layout Breakpoints
$maxWidth: 1280;

// Font Sizes
$regularSize: 12;

// Font Families
$cuprum: 'Cuprum', sans-serif;

// Colors
$red: #ff662c;
$yellow: #fbc517;
$green: #5eb896;
$dark-blue: #1d3240;
