<div class="empty-space col-xs-b10"></div>

<div class="background-wrapper bgw-yellow">
  <div class="myp-heading-block heading-white">
    <div class="block-title c-h2">
      Хто має платити
      <i class="fa fa-balance-scale" aria-hidden="true"></i>
    </div>
    <div class="right-side">{{ $ctrl.party.summary }} грн</div>
  </div>
  <div class="empty-space col-xs-b20"></div>
  <div class="line-item summary-item"
       ng-repeat="people in $ctrl.people">
    <span class="line-item-name">{{people.name}}</span>
    <span class="line-item-right">{{people.summary}} грн</span>
  </div>


  <div class="empty-space col-xs-b40"></div>
</div>
