.parties-list
  .line-item
    color: #000
    padding: 0
    -webkit-transition: all 0.15s
    -o-transition: all 0.15s
    transition: all 0.15s
    .date, .name
      width: 100%
      display: block
      cursor: pointer
      line-height: 30px
      padding: 4px 18px
      box-sizing: border-box
    .party-name
      width: 100%
      height: 38px
      padding: 4px 18px
      line-height: normal
      box-sizing: border-box
    .item-edit-btn
      color: #fff
      right: 38px
      font-size: 20px
      background-color: $green
    .item-remove-btn
      color: #fff
