<ui-view>

  <div class="empty-space col-xs-b10"></div>

  <div class="background-wrapper bgw-yellow parties-list">

    <div class="myp-heading-block heading-white">
      <div class="block-title c-h2">
        {{$ctrl.translate.your_parties}}
        <i class="fa fa-glass" aria-hidden="true"></i>
      </div>
      <div class="right-side button"
           ng-click="$ctrl.logOut()">
        {{$ctrl.translate.logout}}
      </div>
    </div>
    <div class="empty-space col-xs-b20"></div>
    <div class="line-item" ng-repeat="party in $ctrl.userParties | orderBy:party.time:true track by party.$id ">
      <span class="date" ng-show="!party.showEdit" ng-click="$ctrl.goToParty(party.$id)">{{ party.name.length ? party.name : party.time | date:'dd MMM yyyy H:mm' }}</span>
      <input type="text"
             name="partyName"
             class="party-name"
             autocapitalize="off"
             autocomplete="off"
             autocorrect="off"
             min="1"
             max="100"
             placeholder="Введіть назву двіжинки"
             ng-model="party.name"
             myp-auto-focus="party.showEdit"
             ng-blur="$ctrl.updateParty(party)"
             ng-if="party.showEdit">
      <span ng-hide="party.showEdit"
            class="item-side-btn item-edit-btn"
            ng-click="$ctrl.showEditParty(party)">
            <i class="fa fa-pencil" aria-hidden="true"></i>
      </span>
      <span ng-if="party.showEdit"
            class="item-side-btn item-edit-btn"
            ng-click="$ctrl.showEditParty(party)">
            <i class="fa fa-check" aria-hidden="true"></i>
      </span>
      <span ng-click="$ctrl.removeParty(party.$id)"
            class="item-side-btn item-remove-btn"></span>
    </div>
    <div class="empty-space col-xs-b80"></div>
    <div class="c-btn c-bnt-add c-bnt-circle c-bnt-position-right" ng-click="$ctrl.createNewParty()"></div>
  </div>
</ui-view>
