.people
  color: red
  .item
    background-color: green

.line-item
  &.people-item
    font-size: 0
  input
    height: 30px
    line-height: 30px
  input.person-name
    display: inline-block
    vertical-align: middle
    width: calc(100% - 50px)
  span.person-name-short
    display: inline-block
    width: 30px
    height: 30px
    line-height: 30px
    vertical-align: middle
    text-align: center
    color: $dark-blue
    font-size: 22px
  .person-name-error
    font-size: 14px
    color: $red
