<div class="empty-space col-xs-b10"></div>

<div class="background-wrapper bgw-yellow">
  <div class="myp-heading-block heading-white">
    <div class="block-title c-h2">
      Хто тратив
      <i class="fa fa-male" aria-hidden="true"></i>
    </div>
  </div>
  <div class="empty-space col-xs-b20"></div>

  <form name="peopleAddForm"
        class="new-people"
        ng-submit="peopleAddForm.$valid && $ctrl.addPerson()"
        novalidate>
    <div class="line-item people-item line-item-right-btn">
      <input type="text"
             name="person-name"
             placeholder="Як називається"
             id="add-new-person"
             class="person-name"
             id="persone-name"
             min="1"
             required
             autocapitalize="off"
             autocomplete="off"
             autocorrect="off"
             ng-model="$ctrl.newPerson.name"/>
      <span ng-click="$ctrl.addPerson()"
            class="item-side-btn item-add-btn"
            id="add-persone"
            ng-disabled="!$ctrl.newPerson.name"></span>
    </div>
  </form>

  <form name="peopleForm"
        novalidate
        class="people-list-form">
    <div ng-repeat="person in $ctrl.people | orderBy:person.time:true"
         class="line-item people-item line-item-right-btn">
      <input name="personName"
             type="text"
             class="person-name"
             placeholder="Як називається"
             required
             ng-minlength="2"
             ng-maxlength="100"
             autocapitalize="off"
             autocomplete="off"
             autocorrect="off"
             ng-model="person.name"
             ng-blur="$ctrl.updatePerson(person)"/>
      <span ng-bind="person.name | limitTo:2 "
            class="person-name-short"></span>
      <span ng-click="$ctrl.removePerson(person.$id)"
            class="item-side-btn item-remove-btn"></span>
      <div ng-show="!person.name"
           class="person-name-error">
        <span>Поле з ім'ям не може бути пусте</span>
      </div>
    </div>
  </form>

  <div class="empty-space col-xs-b80"></div>
  <div class="c-btn c-btn-to-next c-bnt-circle c-bnt-position-right" ng-click="$ctrl.goToExpenses()"><i
    class="fa fa-angle-double-right" aria-hidden="true"></i></div>

  <!--<div title="expenses"-->
  <!--class="c-btn c-btn-full c-bnt-fixed"-->
  <!--ng-click="$ctrl.addPerson()">-->
  <!--{{$ctrl.translate.add_person}}-->
  <!--</div>-->

</div>
