//@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.modal-dialog
  .modal-body
    color: #000

.modal-open .modal
  display: flex !important
  justify-content: center
  align-items: center

.modal-footer
  border-top: none

.modal-content
  border-radius: 0

.modal-body
  text-align: center
  padding-top: 30px
  font-size: 20px
