.login-form,
.register-form
  padding-left: 20px
  padding-right: 20px

  input:focus
    outline: none

  input[type="submit"]
    cursor: pointer

  input.ng-invalid.ng-touched
    color: $red

  input.border-field
    padding: 12px 25px
    width: 100%
    margin-bottom: 5px
    color: $yellow
    @include placeholder-color(#fff)
    background-color: transparent
    border: 1px solid #ffffff
    border-radius: 25px
    font-family: $cuprum
    font-size: 18px
    @include box-sizing(border-box)

  .input-error
    color: $red
    padding: 0 25px

.switch-auth-page
  padding: 20px
  text-align: center
  cursor: pointer

.social-login
  text-align: center
  h4
    margin-bottom: 20px
  .social-login-buttons
    .login-btn
      display: inline-block
      margin: 0 20px 15px
      line-height: 20px
      cursor: pointer
      &:hover
        color: #ff662c
      &.disabled
        color: #fff
        cursor: not-allowed
        opacity: .5
      i
        margin-right: 10px
        font-size: 20px
        vertical-align: middle
        @include single-transition(color, .2s, ease-in, 0s)
      span
        vertical-align: middle
        @include single-transition(color, .2s, ease-in, 0s)

//.ng-touched.ng-valid, .ng-dirty.ng-touched
//  border-color: #3c763d
//
//.ng-touched.ng-valid:focus, .ng-dirty.ng-touched:focus
//  border-color: #3c763d

.ng-invalid.ng-dirty.ng-touched, .ng-pristine.ng-invalid.ng-touched
  border-color: #a94442

.ng-invalid.ng-dirty.ng-touched:focus, .ng-pristine.ng-invalid.ng-touched
  border-color: #a94442

.mesage
  display: none

.ng-invalid.ng-touched ~ .mesage
  display: block
