<div class="background-wrapper"
     ng-if="$ctrl.authPage == 'login'">
  <div class="social-login">
    <h4 class="c-h4">
      Зайти не реєструючись
    </h4>
    <div class="empty-space col-xs-b15"></div>
    <div class="social-login-buttons">
      <div class="login-btn login-google"
           ng-click="$ctrl.login()">
        <i class="fa fa-google" aria-hidden="true"></i>
        <span>Google</span>
      </div>
      <div class="login-btn login-anonymously"
           ng-click="$ctrl.loginAnonymously()">
        <i class="fa fa-user-secret" aria-hidden="true"></i>
        <span>Одноразово</span>
      </div>
    </div>

    <div class="empty-space col-xs-b15"></div>
    <h4 class="c-h4">
      для тих, хто зареєстрований
    </h4>
  </div>

  <div class="empty-space col-xs-b10"></div>

  <!-- Login form -->
  <form name="loginEmailUserForm"
        novalidate="novalidate"
        ng-submit="loginEmailUserForm.$valid && $ctrl.loginEmail($ctrl.loginUser.email, $ctrl.loginUser.password)"
        class="login-form border-field-form">

    <div class="form-group">
      <input type="email"
             name="email"
             placeholder="Email"
             ng-model="$ctrl.loginUser.email"
             required
             ng-focus="$ctrl.errorLoginEmail = null"
             autocapitalize="off"
             autocomplete="off"
             autocorrect="off"
             pattern="[a-zA-Z0-9]*[_a-zA-Z0-9\.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})"
             class="border-field"/>
      <div ng-show="loginEmailUserForm.email.$touched && loginEmailUserForm.email.$error"
           class="input-error"
           ng-messages="loginEmailUserForm.email.$error" role="alert">
        <div ng-message="required">То обов'язкове поле</div>
        <div ng-message="email">Ти шось не то ввів</div>
      </div>
      <div class="input-error" ng-show="$ctrl.errorLoginEmail">
        {{$ctrl.errorLoginEmail}}
      </div>
    </div>
    <div class="form-group">
      <input type="password"
             name="password"
             placeholder="Пароль"
             ng-model="$ctrl.loginUser.password"
             ng-minlength="6"
             required
             ng-focus="$ctrl.errorLoginPassword = null"
             class="border-field"/>
      <div ng-show="loginEmailUserForm.password.$touched && loginEmailUserForm.password.$error"
           class="input-error"
           ng-messages="loginEmailUserForm.password.$error" role="alert">
        <div ng-message="required">То обов'язкове поле</div>
        <div ng-message="minlength">Мінімум 6 символів</div>
      </div>
      <div class="input-error" ng-show="$ctrl.errorLoginPassword">
        {{$ctrl.errorLoginPassword}}
      </div>
    </div>

    <!-- <span>{{$ctrl.error}}</span> -->
    <div class="empty-space col-xs-b20"></div>


    <button type="submit"
            ng-disabled="loginEmailUserForm.$invalid"
            class="c-btn c-btn-round c-btn-center">
      Зайти
    </button>
  </form>

  <div ng-click="$ctrl.switchAuthPage('register')" class="switch-auth-page">Перейти до реєстрації</div>

</div>

<div class="background-wrapper"
     ng-if="$ctrl.authPage == 'register'">
  <div class="empty-space col-xs-b20"></div>

  <!-- Register form -->
  <form name="registerUserForm"
        novalidate="novalidate"
        ng-submit="registerUserForm.$valid && $ctrl.registerNewUser($ctrl.newUser.email, $ctrl.newUser.password)"
        class="register-form border-field-form">
    <div class="form-group">
      <input type="email"
             name="email"
             autocapitalize="off"
             autocomplete="off"
             autocorrect="off"
             placeholder="Email"
             ng-model="$ctrl.newUser.email"
             required
             ng-focus="$ctrl.registerError = null"
             class="border-field"/>
      <div ng-show="registerUserForm.email.$touched && registerUserForm.email.$error"
           class="input-error"
           ng-messages="registerUserForm.email.$error" role="alert">
        <div ng-message="required">То обов'язкове поле</div>
        <div ng-message="email">Ти шось не то ввів</div>
      </div>
      <div class="input-error" ng-show="$ctrl.registerError">
        {{$ctrl.registerError}}
      </div>
    </div>

    <!-- TODO Add more validation check. For strong pass. For same passwords when submit form -->
    <div class="form-group">
      <input type="password"
             placeholder="Пароль"
             ng-model="$ctrl.newUser.password"
             name="password"
             ng-minlength="6"
             required
             class="border-field"/>
      <div ng-show="registerUserForm.password.$touched && registerUserForm.password.$error"
           class="input-error"
           ng-messages="registerUserForm.password.$error" role="alert">
        <div ng-message="required">То обов'язкове поле</div>
        <div ng-message="minlength">Мінімум 6 символів</div>
      </div>
    </div>

    <div class="form-group">
      <input type="password"
             placeholder="Той самий пароль"
             name="passwordConfirm"
             ng-model="$ctrl.newUser.passwordConfirm"
             required
             ng-minlength="6"
             class="border-field"/>
      <div class="input-error"
           ng-if="($ctrl.newUser.password !== $ctrl.newUser.passwordConfirm) && registerUserForm.passwordConfirm.$dirty">
        Паролі мають бути однакові
      </div>
      <div ng-show="registerUserForm.passwordConfirm.$touched && registerUserForm.passwordConfirm.$error"
           class="input-error"
           ng-messages="registerUserForm.passwordConfirm.$error" role="alert">
        <div ng-message="required">То обов'язкове поле</div>
        <div ng-message="minlength">Мінімум 6 символів</div>
      </div>
    </div>

    <div class="empty-space col-xs-b20"></div>
    <input type="submit"
           value="Зареєструватись"
           ng-disabled="!registerUserForm.$valid || $ctrl.newUser.password !== $ctrl.newUser.passwordConfirm"
           class="c-btn c-btn-round c-btn-center"/>
  </form>

  <div ng-click="$ctrl.switchAuthPage('login')" class="switch-auth-page">Вернутися до сторінки входу</div>

</div>

<div class="empty-space col-xs-b30"></div>
