@import "../assets/styles/_fontCuprum"
@import "auth/auth"
@import "parties-list/parties-list"
@import "party/party"
@import "expenses/expenses"
@import "people/people"
@import "summary/summary"

//Common styles for components
.home-content
  background-color: $yellow

//Typography
.c-h2
  font-size: 26px

/* buttons */
.c-btn
  font-family: $cuprum
  padding: 12px 20px
  font-size: 18px
  background-color: #ff662c
  color: #fff
  border: none
  text-transform: uppercase
  text-align: center
  @include box-sizing(border-box)
  &:focus
    outline: none
  &.c-btn-full
    width: 100%
  &.c-btn-round
    border-radius: 25px
  &.c-btn-center
    margin: 0 auto
    display: block
  &.c-bnt-circle
    border-radius: 50%
    width: 56px
    height: 56px
    line-height: 56px
    font-size: 35px
    position: relative
    cursor: pointer
    display: inline-block
    overflow: hidden
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    -webkit-tap-highlight-color: transparent
    vertical-align: middle
    z-index: 1
    transition: .3s ease-out
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2)
  &.c-btn-to-next
    .fa
      line-height: 32px
      vertical-align: top
  &.c-bnt-add
    background: $green
    &:hover
      background: darken($green, 10%)
    &:before, &:after
      content: ''
      width: 3px
      height: 20px
      background: #ffffff
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      margin: auto
    &:before
      transform: rotate(90deg)
    &:after
      transform: rotate(0deg)
  &.c-bnt-position-right
    position: fixed
    bottom: 20px
    right: 20px
  &:hover
    color: #fff
    cursor: pointer
    background-color: darken(#ff662c, 15%)
  &[disabled]
    opacity: .5
  span.c-btn-next
    display: inline-block
    margin-left: 2px
    margin-right: 2px
    width: 0
    height: 0
    border-style: solid
    border-width: 12px 0 12px 14px
    border-color: transparent transparent transparent #ffffff
    vertical-align: middle

/* wrapper */
.background-wrapper
  max-width: 600px
  margin: 0 auto
  position: relative
  &.bgw-yellow
    background-color: $yellow

/* heading block */
.myp-heading-block
  padding: 20px 15px
  font-size: 26px
  line-height: 26px
  &:before,
  &:after
    content: ''
    display: table
    clear: both
  &.heading-white
    color: #fff
  .block-title
    display: inline-block
    position: relative
    line-height: 26px
    padding-left: 50px
    vertical-align: top
    i
      display: block
      content: ''
      width: 35px
      height: 40px
      line-height: 40px
      position: absolute
      left: 0
      top: -8px
      font-size: 18px
      background-image: url("assets/images/heading-icon-musk.png")
      background-repeat: no-repeat
      background-position: center
      background-size: contain
      text-align: center
  .right-side
    float: right
    line-height: 26px
    @include single-transition(color, .2s, ease-in, 0s)
    &.button
      cursor: pointer
      &:hover
        color: $red

/* Line item */
.line-item
  position: relative
  margin: 0 15px 10px
  padding: 4px 18px
  font-family: $cuprum
  font-size: 22px
  background-color: #fff
  border: none
  &:before,
  &:after
    content: ''
    display: table
    clear: both
  &.line-item-right-btn
    padding-right: 45px
  .hiden-fields
    float: right
  input
    padding: 0
    font-family: $cuprum
    font-size: 22px
    line-height: 30px
    color: $dark-blue
    border: none
    outline: none
    white-space: nowrap
    text-overflow: ellipsis
  .item-side-btn
    display: block
    height: 38px
    width: 38px
    position: absolute
    right: 0
    top: 0
    font-size: 31px
    text-align: center
    line-height: 38px
    &[disabled]
      pointer-events: none
      opacity: 0.7
    &.item-remove-btn
      background: $red
      &:before
        content: '-'
    &.item-add-btn
      background: $green
      &:before
        content: '+'


