.expense-keyboard
  padding-left: 35px
  padding-right: 35px
  margin: 0 auto
  max-width: 400px
  .expense-keyboard-row
    margin-bottom: 10px
    padding: 6px 5%
    border: 1px solid #ffffff
    border-radius: 35px
    .expense-keyboard-cell
      display: inline-block
      width: 30%
      font-size: 32px
      color: $dark-blue
      text-align: center
      cursor: pointer

.expense-add-form
  margin-bottom: 30px
  .new-price-box
    position: relative
    text-align: center
    margin: 0 15px 20px
    .new-price-label
      font-size: 18px
      margin-bottom: 10px
    .expense-price
      width: 140px
      padding-right: 38px
      margin: 0 auto
      position: relative
      box-sizing: border-box
      background-color: #fff
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button
        -webkit-appearance: none
        margin: 0
      input
        width: 100%
        padding: 0 10px
        margin: 0 auto
        display: block
        border: none
        //border-bottom: 1px solid
        background-color: #fff
        text-align: center
        color: $dark-blue
        font-family: $cuprum
        font-size: 22px
        line-height: 38px
        box-sizing: border-box
      //@include placeholder-color(rgba(29,50,64,0.8))
      //&::-webkit-inner-spin-button,
      //&::-webkit-outer-spin-button
      //  -webkit-appearance: none
      //  margin: 0
      .add-btn
        width: 38px
        margin: auto
        position: absolute
        top: 0
        right: 0
        bottom: 0
        line-height: 38px
        font-size: 22px
        background: $green
        color: #fff
        &.disabled
          opacity: .7
    .comment-btn
      top: 0
      bottom: 0
      margin: auto
      left: 17px
      height: 42px
      font-size: 42px
      position: absolute
  .expanse-people-box
    text-align: center
    .people-box-label
      font-size: 18px
      margin-bottom: 5px
    .expanse-person
      font-size: 26px
  .line-item.expense-item
    .new-expense-comment
      width: 100%
      padding-left: 0

.line-item.expense-item
  font-size: 0
  margin-bottom: 4px
  .price-divider
    position: absolute
    top: 0
    left: 98px
    width: 3px
    height: 38px
    display: block
    font-size: 0
    content: ''
    background-color: $yellow
  .expense-price
    width: 80px
    padding-right: 10px
    display: inline-block
    box-sizing: border-box
    -webkit-box-sizing: border-box
    //border-right: 3px solid #fbc517
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button
      -webkit-appearance: none
      margin: 0
  .expense-comment
    padding: 0 10px
    display: inline-block
    width: calc(100% - 80px)
    box-sizing: border-box
    -webkit-box-sizing: border-box

.expanse-people-box
  padding-left: 15px
  padding-right: 15px
  margin-bottom: 10px
  .expanse-person
    display: inline-block
    padding: 4px
    vertical-align: top
    position: relative
    font-size: 26px
    opacity: .4
    overflow: hidden
    margin-right: 5px
    &:last-child
      margin: 0
    &.checked
      opacity: 1
    input
      position: absolute
      width: 0
      height: 0
      opacity: 0

.error
  width: 70%
  color: #fff
  margin: 0 auto
  font-size: 18px
  text-align: center
  position: relative
  padding: 10px 35px
  background: #ff662c
  .fa
    top: 0
    bottom: 0
    left: 10px
    margin: auto
    height: 26px
    font-size: 26px
    position: absolute
