<div class="empty-space col-xs-b10"></div>

<div class="background-wrapper bgw-yellow">
  <div class="myp-heading-block heading-white">
    <div class="block-title c-h2">
      На шо тратили
      <i class="fa fa-usd" aria-hidden="true"></i>
    </div>
  </div>
  <!--<div class="expense-keyboard">
    <div class="expense-keyboard-row">
      <div class="expense-keyboard-cell" ng-click="$ctrl.clickCalc($event)">1</div>
      <div class="expense-keyboard-cell" ng-click="$ctrl.clickCalc($event)">2</div>
      <div class="expense-keyboard-cell" ng-click="$ctrl.clickCalc($event)">3</div>
    </div>
    <div class="expense-keyboard-row">
      <div class="expense-keyboard-cell" ng-click="$ctrl.clickCalc($event)">4</div>
      <div class="expense-keyboard-cell" ng-click="$ctrl.clickCalc($event)">5</div>
      <div class="expense-keyboard-cell" ng-click="$ctrl.clickCalc($event)">6</div>
    </div>
    <div class="expense-keyboard-row">
      <div class="expense-keyboard-cell" ng-click="$ctrl.clickCalc($event)">7</div>
      <div class="expense-keyboard-cell" ng-click="$ctrl.clickCalc($event)">8</div>
      <div class="expense-keyboard-cell" ng-click="$ctrl.clickCalc($event)">9</div>
    </div>
    <div class="expense-keyboard-row">
      <div class="expense-keyboard-cell" ng-click="$ctrl.dotCalc($event)">.</div>
      <div class="expense-keyboard-cell" ng-click="$ctrl.clickCalc($event)">0</div>
      <div class="expense-keyboard-cell" ng-click="$ctrl.removeCalc($event)"><</div>
    </div>
  </div>-->

  <!-- New expense -->
  <form name="expense-add-form"
        class="expense-add-form"
        novalidate>
    <div class="new-price-box">
      <div class="new-price-label">
        Шо коштує
      </div>
      <div class="expense-price">
        <input
          type="number"
          name="price-add"
          id="expense-input-price"
          class="expense-price"
          placeholder="грн"
          autocapitalize="off"
          autocomplete="off"
          autocorrect="off"
          required
          myp-auto-focus="$ctrl.newPriceAutofocus"
          ng-keypress="$ctrl.addExpense($event)"
          ng-model="$ctrl.newPrice"
          pattern="[0-9]*">
        <!--<span class="comment-btn" ng-click="$ctrl.showComment()"><i class="fa fa-comment-o" aria-hidden="true"></i></span>-->
        <span class="add-btn"
              id="add-expense"
              ng-click="$ctrl.addExpense()"
              ng-class="{disabled: !$ctrl.newPrice}">+</span>
      </div>
    </div>
    <div class="expanse-people-box">
      <div class="people-box-label">
        Хто скидається
      </div>
      <div>
        <label ng-repeat="person in $ctrl.people"
               class="expanse-person"
               ng-class="{checked: $ctrl.newExpense.people[$index]}">
          {{person.name | limitTo:2}}
          <input type="checkbox"
                 ng-model="checked"
                 ng-click="$ctrl.toggleCheckedPerson($index)"
                 ng-checked="person.checked">
        </label>
      </div>
    </div>
    <div class="line-item expense-item line-item-right-btn" ng-if="$ctrl.showCommentVar">
      <input
        type="text"
        name="comment"
        class="expense-comment new-expense-comment"
        placeholder="Comment to new expense"
        autocapitalize="off"
        autocomplete="off"
        autocorrect="off"
        min="1"
        ng-keypress="$ctrl.addExpense($event)"
        ng-model="$ctrl.newExpense.comment">
    </div>
  </form>

  <!--<div class="error" ng-show="!$ctrl.people.length">-->
    <!--<i class="fa fa-exclamation-circle" aria-hidden="true"></i>-->
    <!--{{ $ctrl.error }}-->
  <!--</div>-->

  <!-- Expense list -->
  <form name="expense-form"
        class="expense-list-form"
        novalidate>
    <div ng-repeat="expense in $ctrl.expenses | orderBy:expense.time:true">
      <div class="line-item expense-item line-item-right-btn">
        <div class="price-divider"></div>
        <input name="price"
               type="number"
               required
               value="expense.price"
               placeholder="грн"
               autocapitalize="off"
               autocomplete="off"
               autocorrect="off"
               ng-model="expense.price"
               ng-blur="$ctrl.updateExpense(expense)"
               class="expense-price">
        <input min="2"
               type="text"
               value="expense.comment"
               name="comment"
               required
               placeholder="Коментар до витрати"
               autocomplete="off"
               ng-model="expense.comment"
               ng-blur="$ctrl.updateExpense(expense)"
               class="expense-comment">
        <span ng-click="$ctrl.removeExpense(expense.$id)"
              class="item-side-btn item-remove-btn"></span>
      </div>
      <div class="expanse-people-box">
        <label ng-repeat="person in $ctrl.people track by $index"
               class="expanse-person"
               ng-class="{checked: expense.people[$index]}">
          {{person.name | limitTo:2}}
          <input type="checkbox"
                 ng-model="cheked"
                 ng-click="$ctrl.updateToggleCheckedPerson(expense, $index)"
                 ng-checked="expense.people[$index]">
        </label>
      </div>
    </div>
  </form>

  <div class="empty-space col-xs-b80"></div>
  <div class="c-btn c-btn-to-next c-bnt-circle c-bnt-position-right" ng-click="$ctrl.goToSummary()"><i
    class="fa fa-angle-double-right" aria-hidden="true"></i></div>
</div>
